/* optional Container STYLES */
.chart { height: 600px; margin: 5px; width: 900px; }
.Treant > .node {}
.Treant > p {}
.node-name {
    font-weight: bold;
}

#tree-simple .red {
    color: red;
}

#tree-simple .popover-available {
    text-decoration: underline;
    cursor: pointer;
}
